.dropbtn {
  /* background: url("/images/menu_button.png") no-repeat scroll 0 0 transparent;
  padding: 8px;
  font-size: 18px;
  margin: 2px;
  width: 40px;
  height: 40px; */
  background: none;
  border: none;
  cursor: pointer;
  background: none;
  padding: 0px;
  margin: 0px;
  font-size: 0px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin: 0px 5px;
  min-width: 200px;
  right: 0;
}

.dropdown-content button, .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background: none;
  border: 0px;
  margin: 0px;
  font-size: 18px;
  text-align: center;
}

.dropdown-content button {
  width: 100%;
}
.dropdown-content a {
  width: calc(100% - 32px);
}

.dropdown-content button:hover, .dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3c3c3c;
}